@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

/* Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Ensuring the input looks consistent across browsers */
input[type='number'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
button:focus {
  outline: none;
}
.jodit ol,
.jodit ul,
.md-editor-preview ol,
.md-editor-preview ul,
.md-editor-preview menu,
.markdown-preview-container ol,
.markdown-preview-container ul,
.markdown-preview-container menu {
  list-style: inside;
}

a:hover {
  color: #9333ea;
}
.preloader-loading-text {
  margin: auto;
  position: absolute;
  left: 50%;
  top: calc(50% + 120px);
  transform: translate(-50%, -50%);
}
.preloader-loading-text .loading-text {
  color: black;
  font-family: Arial;
  font-size: 36px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_loading_text;
  -o-animation-name: bounce_loading_text;
  -ms-animation-name: bounce_loading_text;
  -webkit-animation-name: bounce_loading_text;
  -moz-animation-name: bounce_loading_text;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
}
.preloader-loading-text #loadingText1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
.preloader-loading-text #loadingText2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
.preloader-loading-text #loadingText3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
.preloader-loading-text #loadingText4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
.preloader-loading-text #loadingText5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
.preloader-loading-text #loadingText6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
.preloader-loading-text #loadingText7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

@keyframes bounce_loading_text {
  0% {
    transform: scale(1);
    color: #9370db;
  }
  100% {
    transform: scale(0.5);
    color: #ff00ff;
  }
}
@-webkit-keyframes bounce_loading_text {
  0% {
    -webkit-transform: scale(1);
    color: black;
  }
  100% {
    -webkit-transform: scale(0.5);
    color: white;
  }
}

@keyframes progress {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pulseSize {
  0%,
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1);
    transform: scale3d(1.25, 1.25, 1);
  }
}
.MuiFormControl-root .MuiInputBase-formControl .MuiOutlinedInput-notchedOutline {
  border-color: #e2e8f0;
}
.theme-dark .MuiFormControl-root .MuiInputBase-formControl .MuiOutlinedInput-notchedOutline {
  border-color: #1a1c23;
}
.theme-dark .MuiInputBase-formControl {
  color: #9e9e9e !important;
  background: #24262d;
}
.theme-dark .MuiStepButton-root .MuiStepLabel-labelContainer .MuiStepLabel-label {
  color: #9e9e9e !important;
}

.theme-dark .MuiStepButton-root .Mui-active {
  color: #9333ea;
}
.theme-dark .md-editor-preview,
.theme-dark .md-editor-previewOnly {
  color: #9e9e9e;
  background: #24262d;
}
.theme-dark .MuiAccordionSummary-expandIconWrapper {
  color: #9e9e9e;
}
.theme-dark .details-page-title {
  color: #9e9e9e;
}
.theme-dark .MuiAccordion-root {
  background: #24262d;
}
.ant-tree-node-content-wrapper {
  display: flex;
}
/* :where(.css-dev-only-do-not-override-1drr2mu).ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
:where(.css-dev-only-do-not-override-1drr2mu).ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: #9333ea;
} */
.md-editor-toolbar-wrapper .md-editor-toolbar-item:last-child {
  display: none;
}
.read-only .md-editor-toolbar-wrapper {
  pointer-events: none;
}

.swal2-container {
  z-index: 99999;
}
